body{
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 800px;
    width: 800px;
}

.container{
    display: flex;
    transition: transform 0.7s ease-in-out;
    transform: translateX(0);
}